@import "../../styles/variables.css";

nav {
	position: fixed;
	top: 0px;
	z-index: 1;
	width: 100%;
	height: 2rem;
}

.nav-filled {
	background-color: var(--primary-bg-color);
	box-shadow: 0px 3px 8px var(--border-color);
}

.nav {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	align-items: center;
	z-index: 1;
	position: absolute;
	width: 100%;
}

.nav-items {
	display: flex;
}

.nav-item {
	font-size: 1.2rem;
	font-family: "light";
	font-weight: 600;
	margin-left: 1rem;
}

.nav-item-label {
	display: none;
}

.nav-item-icon svg {
	max-width: fit-content;
	margin-left: 1rem;
}

.nav-icon {
}

.nav-icon-img {
	width: 2.5rem;
	border-radius: 50%;
	animation: 1s brightness 1; 
}

.nav-icon-img-animated{
	animation: 1s brightness 1; 
}
  
@keyframes brightness {
    0%   {
        filter: brightness(1);
        
        -webkit-filter: brightness(1);
        
    }
    50%  {
        filter: brightness(1.3);
        
        -webkit-filter: brightness(1.3); 
    }
    100% {
        filter: brightness(1);
       
        -webkit-filter: brightness(1); 
    }
}

.nav-link-active {
	color: var(--primary-color);
	border-bottom: 0.2rem var(--primary-color) solid;
	padding-bottom: 0.4rem;
}

.nav-link {
	color: var(--second-bg-color);
}

@media only screen and (min-width: 176px) and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.nav {
		padding: 1rem;
	}
	.nav-item {
		margin-left: 2rem;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.nav-item-label {
		display: block;
	}
	.nav-item-icon svg {
		display: none;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.nav {
		position: fixed;
		top: 0;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
